<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    
    <%- include('partials/navigation') %>

    <section class="bg-black text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase">Misión</h2>
              <p class="lead">
                Nuestra misión es ofrecer soluciones innovadoras y de calidad que satisfagan las necesidades de nuestros clientes. Nos esforzamos por ser líderes en nuestro sector, brindando un excelente servicio y generando valor para nuestros clientes, empleados y accionistas.
              </p>
            </div>
            <div class="col-md-6">
              <h2 class="text-uppercase">Visión</h2>
              <p class="lead">
                Ser reconocidos como la empresa líder en nuestro mercado, destacando por nuestra excelencia operativa, integridad y compromiso con la satisfacción del cliente. Buscamos expandir nuestra presencia global y ser referentes en la industria, impulsando el crecimiento sostenible y siendo un empleador de elección.
              </p>
            </div>
          </div>
        </div>
      </section>
      <style>
        /* Aplica margen inferior al nav */
        nav {
          margin-bottom: 90px;
        }
      
        /* Aplica margen superior al footer */
        footer {
          margin-top: 110px;
        }
      </style>
      

    <%- include('partials/footer') %>

</body>
</html>