<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <%- include('partials/navigation') %>
    
    <section class="bg-black text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase">Acerca de Nosotros</h2>
              <p class="lead">
                Somos una empresa líder en la industria, especializada en proporcionar soluciones tecnológicas innovadoras para empresas de todos los tamaños. Con más de 10 años de experiencia en el mercado, hemos construido una sólida reputación basada en la calidad de nuestros productos y servicios.
              </p>
              <p>
                En nuestra empresa, nos enfocamos en la excelencia y la satisfacción del cliente. Nuestro equipo de profesionales altamente capacitados está comprometido en brindar soluciones personalizadas que impulsen el crecimiento y la eficiencia de nuestros clientes.
              </p>
            </div>
            <div class="col-md-6">
              <h2 class="text-uppercase">Nuestro Equipo</h2>
              <p class="lead">
                Nuestro equipo está formado por expertos en diferentes áreas, incluyendo desarrollo de software, diseño gráfico, marketing y atención al cliente. Nos enorgullece contar con un grupo talentoso de profesionales que trabajan en conjunto para ofrecer resultados excepcionales a nuestros clientes.
              </p>
              <p>
                Creemos en la colaboración, la creatividad y la pasión por la excelencia. Cada miembro de nuestro equipo aporta habilidades y conocimientos únicos, lo que nos permite abordar desafíos complejos y encontrar soluciones innovadoras.
              </p>
            </div>
          </div>
        </div>
      </section>
      
      <style>
        /* Aplica margen inferior al nav */
        nav {
          margin-bottom: 90px;
        }
      
        /* Aplica margen superior al footer */
        footer {
          margin-top: 110px;
        }
      </style>

    <%- include('partials/footer') %>
</body>
</html>