


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/footer.css">
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2>Las peñitas SAS</h2>
          <p>Somos la empresa líder en el mercado</p>
          <div class="contact">
            <span><i class="fas fa-phone"></i> 123-456-789</span>
            <span><i class="fas fa-envelope"></i> laspeñitassas@compania.com</span>
          </div>
        </div>
      <div class="footer-bottom">
        &copy; 2023 Las peñitas SAS  | Todos los derechos reservados
      </div>
    </div>
  </footer>
  